<div class="end-users-container">
    <img src="https://res.cloudinary.com/dgeodyyf7/image/upload/v1584368152/Search_illustration_hivudw.png">
    <h2>Estamos buscando mais pessoas nas estrelas!</h2>
</div>
