<% if @best_match.nil? %>
  <% render "end" %>
<% else %>
  <div class="profile-container">
    <h5 class="match-percent">
      75%
    </h5>
    <img class="profiel-photo" src="https://res.cloudinary.com/depkgd9tg/image/upload/v1583866471/rqujcnufwkhrrkmdgkku.png">
    <div class="signs-list">
      <div class="sign">XX</div>
      <div id="sun-sign" class="sign">XXX</div>
      <div class="sign">XX</div>
    </div>
    <p class="profile-name"><%= @best_match.username %></p>
    <div class="like-buttons">
      <span class="deslike">
        <%= link_to interactions_path(like: false, receiver: @best_match.id), method: :post do %>
        <% end %>
      </span>
      <span class="like">
        <%= link_to interactions_path(like: false, receiver: @best_match.id), method: :post do %>
        <% end %>
      </span>
    </div>
  </div>
<% end %>
