<div class="mobile-container">
  <div class="margin-container">
    <h2><%= @user.username %><%= @user.birthdate %></h2>
    <p><%= @user.description %></p>
    <p><%= @user.gender %></p>
  </div>
</div>


