<% if @matches.empty? %>
  <div class="card">
    <p>You dont have matches yet</p>
  </div>
<% else %>
  <% @matches.each do |match| %>
    <%= link_to match_path(match.id) do %>
      <div class="card">
      <% if match.user_one == current_user %>
          <h2> <%= match.user_two.username %></h2>
      <% else %>
          <h2> <%= match.user_one.username %></h2>
      <% end %>
        <% if match.messages.last.nil? %>
          <h2></h2>
        <% else %>
          <h2><%= match.messages.last.content %></h2>
        <% end %>
    <% end %>
      </div>
  <% end %>
<% end %>


