<% @matches.each do |match| %>
  <%= link_to match_path(match.id) do %>
    <div class="card">
      <% if match.user_one == current_user %>
        <h2> <%= match.user_two.email %></h2>
      <% else %>
        <h2> <%= match.user_one.email %></h2>
      <% end %>
      <h2><%= match.messages.last.content %></h2>
    </div>
  <% end %>
<% end %>


