<% @matches.each do |match| %>
  <%= link_to match_path(match.id) do %>
    <div class="card">
      <h2> <%= match.user_two.email %></h2>
      <h2><%= match.messages.last.content %></h2>
    </div>
  <% end %>
<% end %>


