.profile-buttons {
  display:flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 50px;
}

.profile-btn {
  background: linear-gradient(130deg, rgba(160,103,176,1) 0%, rgba(123,35,152,1) 100%);
  margin-bottom: 20px;
  padding: 10px 0;
  border-radius: 50px;
  color: white;
}
