.edit-config-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  min-height: 812px;
  width: 100vw;
  background: linear-gradient(130deg, rgba(160,103,176,1) 0%, rgba(123,35,152,1) 100%);
  background-image: url(https://res.cloudinary.com/dgeodyyf7/image/upload/v1584327008/Astromatch_Elementos-04_icjpio.png);
  background-size: 100%;
  text-align: center;
  padding: 30px 45px;
  h4 {
  color: #fff;
  }
  label {
  color: #fff;
  }
}

.edit-config-container .input.form-control {
    border-radius: 50px;
    border: 1px solid #ECECEC;
    box-shadow: none;
    font-size: 14px;
    color: #868686;
}

.edit-config-container .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 50px;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label {
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.edit-config-container .text-muted {
    color: #ab136b !important;
}

.edit-config-container .profile-btn {
  font-family: "Sen", sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background: linear-gradient(130deg, #ab136b 0%, #7b2398 100%);
  margin-bottom: 18px;
  padding: 10px 0;
  border-radius: 50px;
}

.edit-config-container h4 {
  color: #fff;
  font-size: 29px;
  margin-bottom: 45px;
}
