.my-user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  min-height: 756px;
  img {
    margin-left: 0;
    border-radius: 300px;
    height: 300px;
    width: 300px;
  }
  .profile-name {
    font-weight: bolder;
    text-align: center;
    h2 {
      color: rgba(160,103,176,1);
    }
  }
  h4 {
    font-size: 20px;
    padding: 0 20px;
    text-align: center;
  }
  p {
    font-size: 14px;
    padding: 0 20px;
    text-align: center;
  }
  a {
    color: #fff;
    text-align: center;
  }
}
.margin-container {
  padding: 35px 25px;
}

#profile-configurations {
  text-align: center;
  p {
    align-items: center;
  }
}

.profile-buttons {
  display:flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 50px;
}

.profile-btn {
  background: linear-gradient(130deg, rgba(160,103,176,1) 0%, rgba(123,35,152,1) 100%);
  margin-bottom: 20px;
  padding: 10px 0;
  border-radius: 50px;
}
