.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(130deg, rgba(160,103,176,1) 0%, rgba(123,35,152,1) 100%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.mobile-container {
    margin: 0 auto;
    width: 310px;
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}

