.astrology-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  min-height: 812px;
  width: 100vw;
  background: linear-gradient(130deg, rgba(160,103,176,1) 0%, rgba(123,35,152,1) 100%);
  background-image: url(form-background.png);
  background-size: 100%;
  text-align: center;
  padding: 15px 15px;
  .form-group {
    margin-bottom: 0.5rem;
  }
}

.astrology-chart-container img {
  width: 70vw;
  margin-bottom: 20px;
  margin-top: 10px;
}

.astrology-chart-container .profile-btn {
    background: #ab136b;
    margin-bottom: 20px;
    padding: 10px 0;
    border-radius: 50px;
    color: white;
}

.astrology-chart-container form {
    display: block;
    margin-top: 1.2em;
}

.astrology-chart-container label {
  color: #fff;
}

.astrology-chart-container .form-control {
  margin: auto;
  display: block;
  width: 90%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ab136b;
  border-radius: 50px;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 30px;
}

.astrology-chart-container input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    border-radius: 50px;
}

.astrology-chart-container h3 {
  font-size: 1.90rem;
  color: #fff;
}
