.profile-container {
  background-color: #282B62;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  min-height: 756px;
  width: 100vw;
  padding: 10px 25px;
  p {
    font-size: 15px;
    color: #fff;
  }
  .profile-name {
    font-weight: bolder;
    text-align: center;
    margin-top: 14px;
  }
  .signs-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 75vw;
    margin-top: 20px;
    margin-bottom: 20px;
    h4 {
      font-size: 16px;
      color: #fff;
    }
    .sign {
      display: flex;
      flex-direction: column;
      border-width: 0.8px;
      align-items: center;
      justify-content: flex-start;
    }
    .sun-sign {
      display: flex;
      flex-direction: column;
      border-width: 0.8px;
      align-items: center;
      justify-content: flex-start;
    }
    h2 {
      color: #ab136b;
    }
  }
  a {
    font-size: 30px;
    color: #ab136b;
    text-align: center;
  }
  img {
    width: 75vw;
    height: 100%;
    border-radius: 50%;
    margin: 0;
  }
  h2 {
    color: #ab136b;
  }
  .like-buttons {
    display:flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
    .deslike {
      background: linear-gradient(130deg, #ab136b 0%, rgba(123,35,152,1) 100%);
      border-radius: 50%;
      width: 110px;
      height: 110px;
      box-shadow: 1px 2px 8px 0px #ab136b;
      text-align: center;
      padding: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 55px;
      i {
        color: #fff;
      }
    }
    .like {
      background: linear-gradient(130deg, #ab136b 0%, rgba(123,35,152,1) 100%);
      border-radius: 50%;
      width: 110px;
      height: 110px;
      box-shadow: 1px 2px 8px 0px #ab136b;
      text-align: center;
      padding: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 55px;
      i {
        color: #fff;
      }
    }
  }
}




.sign-description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  p {
    color: #fff;
  }
  .icon-sign {
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ab136b;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

.sign-sun-description {
  display: flex;
  object-fit: cover;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .icon-sun-sign {
    width: 80px;
    height: 80px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ab136b;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    img {
      width: 70px;
      height: 70px;
    }
  }
}

.sign-description #text {
  font-size: 15px;
  color: #fff;
}

.icon-sign-text {
  color: #fff;
  p {
    color: #fff;
  }
}

.profile-photo {
  border-radius: 300px;
  border: 5px solid  #ab136b;
  box-shadow: 1px 2px 8px 0px #ab136b;
}

.profile-container #percentage-user {
    color: #fff;
}
